.navbar{
    position:sticky;
    top: 0px;
    height: 70px;
    background-color: black;
    opacity: 0.75;
    display: flex;
    justify-self: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
    margin-bottom: -70px;
    z-index: 5;
}

.navbar__logo{
    color:white;
    font-family: "MonteCarlo", cursive;
    font-size: 2.5rem;
}

.navbar__list{
    display:flex;
    list-style: none;
}

.navbar__item{
    white-space: nowrap;
}

.navbar__link{
    font-size: 0.85rem;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0px 5px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: transparent;
    transition: 250ms;
}

.navbar__link:hover{
    border-color: white;
    transition: 250ms;
}